jswalling_tapeout/pp_fir_bottom_half/schematic/sch.oa filter=lfs diff=lfs merge=lfs -text
jswalling/synthesis/cadence/phase2_int_work/work/scpa_dig_ana_ppfir_presyn.sdf filter=lfs diff=lfs merge=lfs -text
jswalling/synthesis/cadence/phase2_int_work/voltus_work/EXAMPLES/EDI/DESIGN/GPDK/TECH/qrcTechFile filter=lfs diff=lfs merge=lfs -text
